@font-face {
    font-family: helvetica-light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: helvetica-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

html{
    font-family: helvetica-light, sans-serif;
}

.wrap {
    min-height: 532px;
    width: 300px;
    font-weight: 300;
    padding:0;
}
.wrap-cart {
    border: 1px solid rgb(242, 242, 242);
    padding: 10px;
    margin: 10px;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.1);
    height: 200px;
}
.wrap .box.trigger {
    height: 470px;
    position: relative;
    border: 1px solid rgb(242, 242, 242);
    padding: 10px 10px 30px 10px;
    margin: 10px;
    box-shadow: 0 3px 3px -1px rgba(0,0,0,0.1);
}
.box.trigger .image .cell img {
    width: 80%;
    margin: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.wrap .name {
    font-size: 18px;
    line-height: 1.3;
}
.wrap .descr {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 10px;
    height: 60px;
}
.wrap .price {
    margin-top: 20px;
    position: absolute;
    bottom: 70px;
    font-family: helvetica-bold;
    font-size: 15px;
    line-height: 1.5;
}
.wrap .buy {
    position: absolute;
    bottom: 20px;
    width: 60%;
    line-height: 2;
    margin-left: 20%;
    margin-right: 20%;
    left: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background-color: #ddd;
    border: 1px solid rgb(221,221,221);
    background: none;
}
.buy:hover {
    border-color: rgb(247, 172, 49);
    color:rgb(247, 172, 49);
    transition: .25s;
}
.esc {
    background-color: #bbb;
    float: left;
    width:136.156px;
}
.esc:hover {
    background-color: #888;
    color:#fff;
}
.btn {
    color: #fff;
    margin: 0 !important;
}
.close {
    width:25px;
    height:25px;
    display:block;
    text-decoration:none;
    color:#fff;
    background:#888;
    text-align:center;
    font-size:18px;
    line-height:1.4em;
    border-radius:50%;
    text-indent:1px;
}
.close:hover {
    background-color: #ff0000;
    color: #fff;
}

.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}

.wrap-cart img {
    float: left;
    width:30%;
}
.descr-in-cart {
    float: left;
    width:40%;
    height: 90%;
}
.quantity-price input {
    width: 45px;
    margin-left:10px;
}
.quantity-price span {
    float: right;
}
.name-in-cart, .prod-descr {
    margin:5px;
}
.name-in-cart {
    font-size:16px;
}
.quantity-price {
    float: right;
    width: 30%;
    margin-top: 30px;
}
.prod-descr {
    font-size:12px;
}
.total-order {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 30px;
    margin: 15px;
}
#myModalonJS {
    display: none;
}