<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/styles.css"/>
    <script type="text/template" id="product-template">
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="wrap">
                    <div class="box trigger">
                        <div class="image">
                            <div class="cell">
                                <img src=<%= imgSrc %>>
                            </div>
                        </div>
                        <div class="box-descr">
                            <div class="name"><%= productName %></div>
                            <div class="descr">
                                <span class="value"><%= description %></span>
                            </div>
                            <div class="price">Цена: <span class="value"><%= price %>$</span></div>
                            <div class="btn-wrapper">
                                <button class="buy">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </script>
    <script type="text/template" id="cart-template">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal" aria-hidden="true">&#10006;</a>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <div class="total-order">Итого: <span id="total"></span>$</div>
                        <button type="button" class="btn esc cancel" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-warning place-order" data-dismiss="modal">Оформить заказ</button>
                    </div>
                </div>
            </div>

    </script>
    <script type="text/template" id="product-in-cart">

            <img src=<%= imgSrc %>>
            <div class="descr-in-cart">
                <div class="name-in-cart"><%= productName %></div>
                <div class="prod-descr"><%= description %></div>
            </div>
            <div class="quantity-price">
                <input type="number" name="num-of-prod" value=<%= quantity %>>
                <span name="prod-price"><%= price  * quantity %></span>$
            </div>

    </script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="init-app.js"></script>
    <script src="js/models/product.js"></script>
    <script src="js/views/productView.js"></script>
    <script src="js/collections/shop.js"></script>
    <script src="js/views/shopView.js"></script>
    <script src="js/collections/cart.js"></script>
    <script src="js/views/cartView.js"></script>
    <script src="js/views/productInCartView.js"></script>
    <script src="run.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row"></div>
    </div>
</body>
</html>